<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings />
    <client />
    <services>
      <service name="WcfServiceLibrary.Library" behaviorConfiguration="netTcpServiceBehavior" >
        <endpoint address=""
        binding="netTcpBinding"
        name="NetTcpBinding_ILibrary"
        contract="WcfServiceLibrary.ILibrary"  />
        <endpoint address="mex"
        binding="mexTcpBinding"
        contract="IMetadataExchange"/>
        <host>
          <baseAddresses >
            <add baseAddress="net.tcp://localhost/Test" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="netTcpServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors >
    </behaviors >
  </system.serviceModel>
</configuration>